@model SahafProjesi.Models.Kitap

@{
    ViewData["Title"] = "Delete";
}

<h1>Kitaplar</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kitap Silme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitapAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitapAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasimYili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasimYili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaskiSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaskiSayisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitapOzeti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitapOzeti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KapakResmi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KapakResmi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yazar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yazar.YazarID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.KategoriID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yayinevi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yayinevi.YayineviID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KitapID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Geri Dön</a>
    </form>
</div>
