@model IEnumerable<SahafProjesi.Models.Yayinevi>

@{
    ViewData["Title"] = "Index";
}

<h1>Yayınevleri</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Yayınevi Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YayineviAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Yayinevi" asp-action="Kitaplar" asp-route-id="@item.YayineviID" class="btn btn-dark"> @Html.DisplayFor(modelItem => item.YayineviAdi) </a>

            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@item.YayineviID">Düzenle</a> |
                    <a asp-action="Details" class="btn btn-outline-secondary" asp-route-id="@item.YayineviID">Detaylar</a> |
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.YayineviID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
